{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer de nouvelles catégories</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}">Retour à la page</a>
{% endblock %}
